<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodanie kursu</title>
</head>
<body>
<h1>Dodanie kursu</h1>

<form method="post">
    <div >
        <label for="nameCourse" > Kurs</label>
        <input type="text"  name="nameCourse" id="nameCourse"/>
    </div>
    <div >
        <label for="nameBlock" > Blok</label>
        <input type="text"  name="nameBlock" id="nameBlock"/>
    </div>

    <input type="submit" th:value="Dodaj">
</form>
<a th:href="@{/course/list}">Przejdź do listy</a>
</body>
</html>