<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista urzytkowników</title>
</head>
<body>
<table>
    <tr>
        <th>firstName</th>
        <th>lastName</th>
        <th>login</th>
        <th>password</th>
    </tr>

    <tr th:each="use: ${users}">


        <td th:text="${use.getFirstName()}"></td>
        <td th:text="${use.getLastName()}"></td>
        <td th:text="${use.getLogin()}"></td>
        <td th:text="${use.getPassword()}"></td>


    </tr>

</table>
<a th:href="@{/users/add}">Dodaj user</a>
</body>
</html>
