<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista urzytkowników</title>
</head>
<body>
<table>
    <tr><th>firstName</th>
        <th>lastName</th>

    </tr>
    <tr th:each="use: ${user}">


        <td th:text="${use.getFirstName()}"> </td>
        <td th:text="${use.getLastName()}">  </td>
        <td th:text="${use.getLogin()}"> </td>
        <td th:text="${use.getPassword()}">  </td>

        <br></td>

    </tr>
    <a th:href="@{/users/add}">Dodaj user</a>
</table>

</body>
</html>
